<launch>
<!-- create IMU node --> 
  <arg name="razor_config_file" default="$(find razor_imu_9dof)/config/razor.yaml"/>
  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(arg razor_config_file)" command="load"/>
    <param name="port" value="/dev/ttyACM1"/>
    <param name="baud" value="9600" />
    <param name="frame_id" value="imu_link" />
  </node>
  
<!-- create GPS node -->
  <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen">

    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="9600" />
    <param name="frame_id" value="gps_link" />
    <param name="use_GNSS_time" value="False" />
    <param name="time_ref_source" value="gps" />
    <param name="useRMC" value="False" />

  </node>

<!-- create YDlidar node (ver. G6) -->

  <node name="ydlidar_node"  pkg="ydlidar_ros"  type="ydlidar_node" output="screen" respawn="false" >
    <param name="port"         type="string" value="/dev/ydlidar"/>  
    <param name="baudrate"         type="int" value="512000"/>  
    <param name="frame_id"     type="string" value="base_scan"/>
    <param name="low_exposure" type="bool" value="false"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="auto_reconnect"    type="bool"   value="true"/>
    <param name="reversion"    type="bool"   value="false"/>
    <param name="angle_min"    type="double" value="-100" />
    <param name="angle_max"    type="double" value="100" />
    <param name="range_min"    type="double" value="0.1" />
    <param name="range_max"    type="double" value="25.0" />
    <param name="ignore_array" type="string" value="" />
    <param name="frequency"    type="double" value="7"/>
    <param name="samp_rate"    type="int"    value="9"/>
  </node>
  <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
    args="0.2245 0.0 0.2 0.0 0.0  0.0 /base_footprint /laser_frame 40" />-->



</launch>
