@font-face {
  font-family: "NotoSans";
  src: url(../fonts/NotoSansCJKkr-Thin.otf);
}
html,
body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 3vw;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
}
main {
  position: fixed;
  overflow: hidden;
}
.mainblock {
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 1.7%;
  margin-bottom: 1.7%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-size: 2.5em;
  font-family: Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1);
  width: 92.3%;
  height: 6%;
  background: rgba(255, 186, 5, 1);
  text-align: center;
  vertical-align: middle;
  display: inline-table;
  border-radius: 30px;
  box-shadow: -0.1em -0.1em 0.1em 0.1em rgba(129, 106, 3, 0.2) inset;
}
.mainblock_content {
  padding-top: 5.4%;
  padding-bottom: 5.4%;
  padding-left: 7%;
  margin-top: 1.7%;
  margin-bottom: 1.7%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.643em;
  font-weight: 100;
  width: 92.3%;
  height: 2%;
  text-align: left;
  display: inline-table;
  border-radius: 30px;
  border: 2px solid rgba(244, 156, 2, 0.1);
  box-sizing: border-box;
  box-shadow: -0.2em -0.2em 0.2em 0.2em rgba(255, 210, 0, 0.3) inset;
  transition: 0.2s;
}
.mainblock_content:hover {
  opacity: 0.5;
}
.menuimg {
  width: 22%;
  padding-right: 7%;
  text-align: right;
  display: inline-table;
  float: right;
  vertical-align: text-top;
}

.subblock {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1.4%;
  margin-right: 1.4%;
  align-items: center;
  font-size: 1.4em;
  width: 60%;
  height: 7%;
  text-align: center;
  display: inline-table;
  vertical-align: middle;
  border-radius: 30px;
  border: 2px solid rgba(244, 156, 2, 0.1);
  box-sizing: border-box;
  box-shadow: -0.2em -0.2em 0.2em 0.2em rgba(255, 210, 0, 0.3) inset;
}

.buttonblock {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1.4%;
  margin-right: 1.4%;
  align-items: center;
  font-size: 1.4em;
  width: 29%;
  height: 7%;
  text-align: center;
  display: inline-table;
  vertical-align: middle;
  border-radius: 30px;
  border: 2px solid rgba(244, 156, 2, 0.1);
  box-sizing: border-box;
  box-shadow: -0.2em -0.2em 0.2em 0.2em rgba(255, 210, 0, 0.3) inset;
}
.verticalblock {
  padding-top: 6%;
  padding-bottom: 6%;
  margin-top: 1.4%;
  margin-bottom: 1.4%;
  margin-left: 1.4%;
  margin-right: 1.4%;
  align-items: center;
  font-size: 2.25em;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.75);
  width: 44.5%;
  height: 33%;
  text-align: center;
  display: inline-table;
  vertical-align: middle;
  border-radius: 10%;
  border: 2px solid rgba(244, 156, 2, 0.1);
  box-sizing: border-box;
  box-shadow: -0.2em -0.2em 0.2em 0.2em rgba(255, 210, 0, 0.3) inset;
  transition: 0.2s;
}
.verticalblock:hover {
  opacity: 0.5;
}

.subshortblock {
  padding-top: 3.76%;
  padding-bottom: 3.76%;
  margin-top: 1.7%;
  margin-bottom: 1.7%;
  margin-left: 1.4%;
  margin-right: 1.4%;
  align-items: center;
  font-size: 1.4em;
  width: 26.5%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 40px;
  box-sizing: border-box;
  box-shadow: -0.2em -0.2em 0.2em 0.2em rgba(255, 210, 0, 0.3) inset;
  transition: 0.5s;
}
.subshortblock:hover {
  opacity: 0.5;
}

#modal {
  display: none;

  position: relative;
  width: 100%;
  height: 0%;
  z-index: 2;
  float: left;
}

#modal h2 {
  margin: 0;
}

#modal button {
  display: inline-block;
  width: 150px;
  margin-left: calc(100% - 100px - 10px);
}

#modal .modal_content {
  width: 40%;
  margin: 100px auto;
  padding: 20px 10px;
  background: #fff;
  border: 2px solid #666;
}

#modal .modal_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
